<a href="https://colab.research.google.com/github/MehrabHussain47/Python-Self-Practice/blob/master/Class_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Input
<p><ol><li>input() always returns a string (convert if needed).</li>
<li>Use .split() for multiple inputs.</li></ol></p>

In [ ]:
input_ = input("Enter your name: ")
print("Hello, "+ input_ + "!")

Enter your name: Sumon
Hello, Sumon!

In [ ]:
age = int(input("Enter your age: "))
print("You are " + age + " years old.")

Enter your age: 30

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = int(input("Enter your age: ")) # Converts input to an integer
print("You are", age, "years old.")

Enter your age: 30
You are 30 years old.

In [ ]:
age = int(input("Enter your age: "))
print("You are " + str(age) + " years old.")

Enter your age: 50
You are 50 years old.

In [ ]:
height = float(input("Enter your height in meters: "))
print("Your height is:", height, "m")

Enter your height in meters: 4.3
Your height is: 4.3 m

In [ ]:
number1, number2 = 10, 20

In [ ]:
number1

10

In [ ]:
number2

20

In [ ]:
input("Enter two numbers: ")

Enter two numbers: 10 20

'10 20'

In [ ]:
number1, number2 = input("Enter two numbers: ").split()

Enter two numbers: 10 20

In [ ]:
'10 20'.split()

['10', '20']

In [ ]:
number1

'10'

In [ ]:
number2

'20'

In [ ]:
number1 + number2

'1020'

In [ ]:
int(number1) + int(number2)

30

In [ ]:
number1, number2 = input("Enter two numbers: ").split(",")

Enter two numbers: 10,20

In [ ]:
# Multiple Inputs in One Line
a, b = input("Enter two numbers: ").split() # Splits input by spaces
a, b = int(a), int(b) # Convert to integers
print("Sum:", a + b)

Enter two numbers: 10 20
Sum: 30

In [ ]:
# List Input (Multiple Values)
numbers = list(map(int, input("Enter numbers: ").split()))
print("You entered:", numbers)

Enter numbers: 1 2 3 4 5
You entered: [1, 2, 3, 4, 5]

In [ ]:
names = input("Enter names separated by commas: ").split(",")
print("Names:", names)

Enter names separated by commas: Alice,Bob,Charlie
Names: ['Alice', 'Bob', 'Charlie']

# Loop
<p>Instead of writing the same code multiple times, loops allow us to execute a
block of code multiple times with different values.</p>

In [ ]:
# Print Hello 6 times
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
for i in range(6):
  print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello

# For Loop
<p>A for loop in Python is used to iterate over a sequence/Mapping (like a list, tuple,
dictionary, string ... )
<ol><li>The loop picks each element from the sequence, one at a time.</li>
<li>The loop executes the block of code inside it.</li>
<li>It continues until all elements in the sequence are processed.</li></ol></p>

In [ ]:
# Write for loop in C++

#include<iostream>
using namespace std:

int main(){
  for(int i = 0; i < 6; i++){ //Initialization, Condition, Increment
    cout<<i<<endl;
  }
  return 0;
}

In [ ]:
# 0 1 2 3 4 5

In [ ]:
range(6)

range(0, 6)

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
k = ['a','b','c','d']
for i in k:
  print(i, end = " ")

a b c d

In [ ]:
word = "Python"
for i in word:
  print(i)

P
y
t
h
o
n

In [ ]:
my_tuple = ("apple", "banana", "orange")
for item in my_tuple:
  print(item)

apple
banana
orange

In [ ]:
my_tuple = ("red", "green", "blue")

In [ ]:
len(my_tuple)

3

In [ ]:
my_tuple = ("red", "green", "blue")
for i in range (len(my_tuple)):
  print(my_tuple[i])

red
green
blue

In [ ]:
# 0 - 0, 1, 2
# 1 - 0, 1, 2

In [ ]:
for i in range(2):
  for j in range(3):
    print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

In [ ]:
# Basic Syntax
for variable in sequence:
# Code to execute

In [ ]:
# Using range()
for i in range(5): # range(5) generates numbers 0 to 4
  print(i)

0
1
2
3
4

<p><ol><li>range(5) generates numbers from 0 to 4 (excluding 5).</li>
<li>Each number is assigned to i in each iteration.</li></ol>
<h6><strong>range(start, stop, step) handles loop control internally.</strong></h6></p>

In [ ]:
for i in range(2, 10, 2): # Start=2, End=10 (exclusive), Step=2
  print(i, end=' ')

2 4 6 8

In [ ]:
# Iterating Over a List
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)
# The loop picks one item (fruit) from the list of fruits in each iteration.

apple
banana
cherry

In [ ]:
# Looping Through a String
word = "Python"
for letter in word:
  print(letter)

P
y
t
h
o
n

In [ ]:
my_tuple = ("apple", "banana", "cherry")
for item in my_tuple:
  print(item)

apple
banana
cherry

In [ ]:
my_tuple = ("red", "green", "blue")
for i in range(len(my_tuple)):
  print("Index", i, "has value", my_tuple[i])

Index 0 has value red
Index 1 has value green
Index 2 has value blue

###### Looping Over a Dictionary person = {"name": "Alice", "age": 25, "city": "New York"} for key in person.keys(): print(key) for value in person.values(): print(value) for key, value in person.items(): print(key, ":", value)

In [ ]:
# Nested for Loop
for i in range(3): # Outer loop
  for j in range(2): # Inner loop
    print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

# While Loop
<p>A while loop is used when we want to repeat a block of code as long as a
condition is True
<ol><li>The condition is checked before each iteration.</li>
<li>If the condition is True, the code inside the loop executes.</li>
<li>If the condition becomes False, the loop stops.</li></ol></p>

In [ ]:
x=1
while x <= 5:
  print(x)
  x = x + 1

1
2
3
4
5

In [ ]:
# Basic while Loop
x = 1
while x <= 5: # Loop runs as long as x is 5 or less
  print(x)
  x += 1 # Increment x

1
2
3
4
5

In [ ]:
x = 5
while x > 0:
  print("Counting down:", x)
  x -= 1
print("Finished!")

Counting down: 5
Counting down: 4
Counting down: 3
Counting down: 2
Counting down: 1
Finished!

# Break Statement
<p>The break statement stops the loop immediately when executed.</p>

In [ ]:
for i in range(6):
  if i == 4:
    break
  print(i)

0
1
2
3

In [ ]:
for i in range(1, 6):
  if i == 4:
    break # Stops the loop when i is 4
  print(i)

1
2
3

In [ ]:
x = 1
while x <= 5:
  if x == 3:
    break # Stops when x is 3
  print(x)
  x += 1

1
2

#Continue Statement
<p>The continue statement skips the current iteration and moves to the next one.</p>

In [ ]:
for i in range(6):
  if i == 4:
    continue
  print(i)

0
1
2
3
5

In [ ]:
for i in range(1, 6):
  if i == 3:
    continue # Skips when i is 3
  print(i)

1
2
4
5

In [ ]:
for i in range(1, 6):
  if i % 2 == 0:
    continue
  print(i)

1
3
5

# Arithmetic Operations

In [ ]:
a = 10
b = 3

In [ ]:
a + b

13

In [ ]:
a - b

7

In [ ]:
a * b

30

In [ ]:
a / b

3.3333333333333335

In [ ]:
a//b

3

In [ ]:
a%b

1

In [ ]:
a**b

1000

In [ ]:
10/0

ZeroDivisionError: division by zero

In [ ]:
# Examples of Arithmetic Operations
a = 10
b = 3
print("Addition:", a + b) # 13
print("Subtraction:", a - b) # 7
print("Multiplication:", a * b) # 30
print("Division:", a / b) # 3.3333
print("Floor Division:", a // b) # 3
print("Modulus:", a % b) # 1
print("Exponentiation:", a ** b) # 1000

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

<p><ol><li>/ always returns a float (3.3333).</li>
<li>// returns the integer part of division (3).</li>
<li>% gives the remainder of division (1).</li>
<li>** raises a to the power of b (10³ = 1000).</li></ol></p>

In [ ]:
# Division by Zero
print(10 / 0) # ZeroDivisionError

ZeroDivisionError: division by zero

In [ ]:
# Negative Exponent
print(2 ** -3) # 0.125 (1/8)

0.125

# Operator Precedence
<p>PEMDAS Rule: P → Parentheses E → Exponents MD → Multiplication & Division (from left to right) AS → Addition &
Subtraction (from left to right)</p>

In [ ]:
(2+3)*2**2

20

In [ ]:
# 2+2
# 2**2
# 5*4

In [ ]:
# Parentheses Have the Highest Precedence
print(10 + 5 * 2) # 20 (Multiplication first, then addition)
print((10 + 5) * 2) # 30 (Parentheses first)

20
30

In [ ]:
# Multiplication and Division Before Addition and Subtraction
print(10 + 3 * 2) # 16 (Multiplication first, then addition)
print(10 / 2 - 3) # 2.0 (Division first, then subtraction)

16
2.0

In [ ]:
# Logical Operator Precedence (not > and > or)
print(True or False and False) # True (AND evaluated first: False and False → False, then True or False → True)
print(not True and False) # False (NOT first, then AND)
# (not has higher precedence, so not True → False, then False and False → False)

True
False

In [ ]:
print(3 + 5 * 2 ** 2)

23

In [ ]:
result = (2 + 3) * 2 ** 2
print(result)

20

###### Explanation: Parentheses: 2 + 3 = 5 Exponent: 2 ** 2 = 4 Multiplication: 5 * 4 = 20 Output: 20

# Math Function

In [ ]:
import math
print(math.sqrt(16)) # Square root → 4.0
print(math.pow(2, 3)) # Power → 8.0
print(math.floor(3.7)) # Floor → 3
print(math.ceil(3.1)) # Ceil → 4
print(math.pi) # Pi → 3.141592...

4.0
8.0
3
4
3.141592653589793