<a href="https://colab.research.google.com/github/MehrabHussain47/Python-Self-Practice/blob/master/Class_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structure
<p>Data structures are ways to organize and store data in a computer so that we can use itefficiently.<br>
Common data structures in Python:
<ol><li>List – an ordered collection (like a shopping list)</li>
<li>Dictionary – a collection of key-value pairs (like a contact list)</li>
<li>Set – an unordered collection of unique items</li>
<li>Tuple – an ordered, unchangeable collection</li></ol></p>

# List
<p>A list in Python is a mutable, ordered collection that can store multiple data types, including numbers, strings, and even other lists. Lists are defined using square brackets [].<br>
Use a List (list) When:
<ol><li>Data needs to be modified (add, remove, or change elements).</i>
<li>Ordering matters and may change over time.</li>
<li>Operations like sorting, appending, or filtering are needed.</li>
<li>Data is expected to grow (tuples are fixed size).</li></ol></p>

In [ ]:
# Empty List
empty_list = []
# List with integers
numbers = [1, 2, 3, 4, 5]
# List with mixed data types
mixed = [10, "Python", 3.14, True]
# List containing another list (Nested List)
nested = [[1, 2], [3, 4], [5, 6]]
# List with duplicate values
duplicates = [1, 2, 2, 3, 4, 4, 5]

In [ ]:
my_list = ["a", "b", "c", "d"] # List
print(my_list[0]) # Output: 'a'
print(my_list[-1]) # Output: 'd' (Last element)

a
d

In [ ]:
print(my_list[1:3]) # Output: ['b', 'c'] (From index 1 to 2)
print(my_list[::-1]) # Output: ['d', 'c', 'b', 'a'] (Reversed list)

['b', 'c']
['d', 'c', 'b', 'a']

In [ ]:
var = [1,2,3,4,5]

In [ ]:
var[1:3]

[2, 3]

In [ ]:
var = [[1,2],[3,4],[5,6]]

In [ ]:
var[0]

[1, 2]

# Python List Methods
<p>Adding Elements</p>

In [ ]:
# append() – Add an item at the end
numbers = [1, 2, 3]
numbers.append(4)
print(numbers) # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
# append() – Add an item at the end
numbers = [1, 2, 3]
numbers.append([7,8])
print(numbers)

[1, 2, 3, [7, 8]]

In [ ]:
# extend() – Merge two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1) # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
a = list1.extend(list2)

In [ ]:
print(a)

None

In [ ]:
# insert() – Insert at a specific index
fruits = ["apple", "banana"]
fruits.insert(1, "orange")
print(fruits) # Output: ['apple', 'orange', 'banana']

['apple', 'orange', 'banana']

In [ ]:
# List Methods

In [ ]:
# Add Methods
numbers = [1,2,3]

numbers.append(4)

print(numbers)

[1, 2, 3, 4]

In [ ]:
numbers = [1,2,3]

numbers.append([7,8]) # Quiz Question

print(numbers)

[1, 2, 3, [7, 8]]

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
f = ['a', 'b']
f.insert(1, 'c')
print(f)

['a', 'c', 'b']

In [ ]:
a1 = [1,2,3]
b1 = [4,6,7,8]

b1.insert(1,5)
print(b1)

[4, 5, 6, 7, 8]

In [ ]:
a1.extend(b1)
print(a1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
a1.append(b1)
print(a1)

[1, 2, 3, 4, 5, 6, 7, 8, [4, 5, 6, 7, 8]]

In [ ]:
a1 = [1,2,3]
b1 = [4,6,7,8]
c1 = a1 + b1

c1.insert(4,5)

In [ ]:
c1

[1, 2, 3, 4, 5, 6, 7, 8]

<p>Removing Elements</p>

In [ ]:
# remove() – Remove first occurance of the item
numbers = [1, 2, 3, 3, 5, 3]
numbers.remove(3)
print(numbers) # Output: []

[1, 2, 3, 5, 3]

In [ ]:
# pop() – Remove and returns item at index i (or last item if index not provided)
numbers = [1, 2, 3]
removed_item = numbers.pop(1)
print(removed_item) # Output: 2
print(numbers) # Output: [1, 3]

2
[1, 3]

In [ ]:
# pop() – Remove and returns item at index i (or last item if index not provided)
numbers = [1, 2, 3]
removed_item = numbers.pop()
print(removed_item) # Output: 2
print(numbers) # Output: [1, 3]

3
[1, 2]

In [ ]:
# clear() – Remove all elements
numbers = [1, 2, 3]
numbers.clear()
print(numbers) # Output: []

[]

In [ ]:
# Remove Methods
numbers = [1,2,3,4,5,3,2]
a = numbers.remove(3)
numbers

[1, 2, 4, 5, 3, 2]

In [ ]:
a

In [ ]:
numbers = [1,2,3,4,5,3,2]
a = numbers.pop(4)
numbers

[1, 2, 3, 4, 3, 2]

In [ ]:
a

5

In [ ]:
numbers = [1,2,3,4,5,3,2]
numbers.pop()
numbers

[1, 2, 3, 4, 5, 3]

In [ ]:
a = [1,2,3]
a.clear()
a

[]

In [ ]:
a = [1,2,3,4,5,3,2]

In [ ]:
for i in a:
  print(i)

1
2
3
4
5
3
2

<p>Searching and Counting</p>

In [ ]:
# index() – Find the position of an item
fruits = ["apple", "banana", "cherry"]
print(fruits.index("banana")) # Output: 1

1

In [ ]:
a = [1,2,3,4,5,2,3]
a.index(2)

1

In [ ]:
# count() – Count occurrences
numbers = [1, 2, 2, 3, 2]
print(numbers.count(2)) # Output: 3

3

In [ ]:
fruits = ['a','b','c']
fruits.index('b')

1

In [ ]:
fruits = ['a','b','c']
fruits.pop(fruits.index('b'))

'b'

In [ ]:
fruits

['a', 'c']

In [ ]:
numbers = [1,2,3,2,1]
print(numbers)
print(numbers.count(2))
numbers.remove(2)
print(numbers)
print(numbers.count(2))

[1, 2, 3, 2, 1]
2
[1, 3, 2, 1]
1

<p>Reordering</p>

In [ ]:
# sort() – Sort a list
numbers = [3, 1, 4, 2]
numbers.sort()
print(numbers) # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
# reverse() – Reverse the list
numbers = [3, 1, 4, 2]
numbers.sort(reverse=True)
print(numbers) # Output: [3, 2, 1]

[4, 3, 2, 1]

In [ ]:
# reverse() – Reverse the list
numbers = [1, 2, 3]
numbers.reverse()
print(numbers) # Output: [3, 2, 1]

[3, 2, 1]

In [ ]:
numbers = [1,2,3,2,1]
numbers.sort()

In [ ]:
numbers

[1, 1, 2, 2, 3]

In [ ]:
numbers.sort(reverse=True)

In [ ]:
numbers

[3, 2, 2, 1, 1]

<p>Copying</p>

In [ ]:
# copy() – Copy a list
numbers = [1, 2, 3]
new_list = numbers.copy()
print(new_list) # Output: [1, 2, 3]

[1, 2, 3]

# Dictionary
<p>A dictionary in Python is an unordered collection of key-value pairs.
<ol><li>Each key is unique and is associated with a value.</li>
<li>Dictionaries are defined using curly braces {} with the key-value pairs separated by a colon :.</li>
<li>Mutable – You can change, add, or remove items.</li>
<li>Keys are Unique – No two keys can be the same.</li></ol></p>

In [ ]:
# Basic Dictionary
student = {
"name": "John",
"age": 20,
"course": "Computer Science"
}
print(student) # Output: {'name': 'John', 'age': 20, 'course': 'Computer Science'}

{'name': 'John', 'age': 20, 'course': 'Computer Science'}

In [ ]:
person = {
"name": "Alice",
"age": 25,
"is_student": False,
"marks": [80, 90, 85]
}
print(person) # Output: {'name': 'Alice', 'age': 25, 'is_student': False, 'mark': [80, 90, 85]}

{'name': 'Alice', 'age': 25, 'is_student': False, 'marks': [80, 90, 85]}

<p>Access & Information</p>

In [ ]:
# copy() – Create a shallow copy
original = {"name": "Alice", "age": 30}
copied_dict = original.copy()
print(copied_dict) # Output: {'name': 'Alice', 'age': 30}

{'name': 'Alice', 'age': 30}

In [ ]:
# items() – Get all key-value pairs
student = {"name": "John", "age": 20}
print(student.items()) # Output: dict_items([('name', 'John'), ('age', 20)])

dict_items([('name', 'John'), ('age', 20)])

In [ ]:
# keys() – Get all keys
student = {"name": "John", "age": 20}
print(student.keys()) # Output: dict_keys(['name', 'age'])

dict_keys(['name', 'age'])

In [ ]:
# values() – Returns a view of all values
student = {"name": "John", "age": 20}
print(student.values()) # Output: dict_values(['John', 20])

dict_values(['John', 20])

In [ ]:
# get() – Access values safely
# Returns value for key, or default if not found
student = {"name": "John", "age": 20, "course": "Python"}
print(student.get("course")) # Output: Python
print(student.get("address", "Not Available")) # Output: Not Available

Python
Not Available

In [ ]:
students = {'name': 'John', 'age': 20}

In [ ]:
students.keys()

dict_keys(['name', 'age'])

In [ ]:
students.values()

dict_values(['John', 20])

In [ ]:
students.items()

dict_items([('name', 'John'), ('age', 20)])

In [ ]:
students.get('name')

'John'

<p>Add / Update Elements</p>

In [ ]:
person = {'name': 'Alice', 'age': 25}
# Add a new key-value pair
person.update({'city': 'Dhaka'})
# Update an existing key
person.update({'age': 26})
print(person)
# Output: {'name': 'Alice', 'age': 26, 'city': 'Dhaka'}

{'name': 'Alice', 'age': 26, 'city': 'Dhaka'}

In [ ]:
# update() – Update with another dictionary
student = {"name": "John", "age": 20}
new_info = {"course": "Python", "age": 21}
student.update(new_info)
print(student) # Output: {'name': 'John', 'age': 21, 'course': 'Python'}

{'name': 'John', 'age': 21, 'course': 'Python'}

In [ ]:
#If key exists: returns its value.
#If not: adds key with the given default value and returns it.
student = {'name': 'Taimur'}
# 'grade' doesn't exist, so it's added with default value 'A'
student.setdefault('grade', 'A') # returns 'A'
# 'name' already exists, so it returns its value
student.setdefault('name', 'New Name') # returns 'Taimur'
print(student)
# Output: {'name': 'Taimur', 'grade': 'A'}

{'name': 'Taimur', 'grade': 'A'}

In [ ]:
students = {'name': 'John', 'age': 20}
students.update({'city': 'Dhaka'})
students

{'name': 'John', 'age': 20, 'city': 'Dhaka'}

In [ ]:
students = {'name': 'John', 'age': 20}
students.update({'age': 25})
students

{'name': 'John', 'age': 25}

<p>Removing Elements</p>

In [ ]:
# clear() – Remove all items
my_dict = {"name": "John", "age": 25}
my_dict.clear()
print(my_dict) # Output: {}

{}

In [ ]:
# pop() – Remove an item
# Removes specified key and returns the value
student = {"name": "John", "age": 20}
removed_value = student.pop("age")
print(removed_value) # Output: 20
print(student) # Output: {'name': 'John'}

20
{'name': 'John'}

In [ ]:
# popitem() – Remove an arbitrary item
# Removes and returns the last inserted key-value pair (in Python 3.7+)
student = {"name": "John", "age": 20}
removed_item = student.popitem()
print(removed_item) # Output: ('age', 20)
print(student) # Output: {'name': 'John'}

('age', 20)
{'name': 'John'}

<p>Other Utilities</p>

In [ ]:
# Suppose you're designing a system where every user must have some default field
# but they haven't filled in anything yet.
# You can create a base template like this:
# Define the required profile fields
fields = ['name', 'email', 'phone', 'address']
# Set a default placeholder for all fields
user_profile = dict.fromkeys(fields, 'Not Provided')
print(user_profile)
# Set a default placeholder for all fields
user_profile = dict.fromkeys(fields, )
print(user_profile)

{'name': 'Not Provided', 'email': 'Not Provided', 'phone': 'Not Provided', 'address': 'Not Provided'}
{'name': None, 'email': None, 'phone': None, 'address': None}

<p>Nested Dictionary</p>

In [ ]:
# Nested Dictionaries
students = {
"John": {"age": 20, "course": "Python"},
"Alice": {"age": 22, "course": "Java"}
}
print(students["John"]) # Output: {'age': 20, 'course': 'Python'}

{'age': 20, 'course': 'Python'}

In [ ]:
a = 2
b = 3
a + b

5

# Functions
<p><ol><li>Functions are reusable blocks of code that perform a specific task.</li>
<li>Instead of writing the same code again and again, you write it once as a function and
call it when needed.</li>
<li>Break down complex problems</li>
<li>Increase readability</li></ol></p>

#### User-defined Functions

In [ ]:
def greet():
  print("Hello!")

In [ ]:
# def greet():
# def stands for define — it's how we create a function in Python.
# greet is the name of the function.
# () means this function takes no parameters (no input values for now).
# The : starts the function body (what the function will do).

In [ ]:
# print("Hello!")
# This is the body of the function.
# When you call the function, it will print the message "Hello!" to the screen.

In [ ]:
greet()

Hello!

#### Parameters and Arguments

In [ ]:
def greet(name): # 'name' is a parameter
  print("Hello", name)
greet('Taimur') # 'Taimur' is an argument

Hello Taimur

In [ ]:
## Keyword & Default Arguments
def greet(name, message):
  print(name, message)
greet(message="Hi", name="Taimur")

Taimur Hi

#### Function with Default Arguments

In [ ]:
# Default Argument
def greet(name, message="Hello"):
  print(name, message)
greet("Taimur") # Output: Taimur Hello

Taimur Hello

In [ ]:
def greet():
  print("Sumon")

In [ ]:
greet()

Sumon

In [ ]:
# User defined function
def greet(name):
  print(f"Hello, {name}!")

In [ ]:
greet("Sumon")

Hello, Sumon!

#### Return Statement

In [ ]:
def add(x, y):
  return x + y
result = add(3, 4)
print(result) # 7

7

In [ ]:
def add(x,y):
  return x+y

In [ ]:
result = add(3,4)

In [ ]:
result

7

In [ ]:
def mult(x,y):
  return x*y

In [ ]:
result = mult(3.4,4)

In [ ]:
result

13.6

<p>Difference between print() and return
<ol><li>print() shows the result to the user</li>
<li>return sends the result back to the caller</li></ol></p>

#### Python Built-in functions
<p><ol>Type Conversion Functions:
<li>int() – Converts a value to an integer.</li>
<li>float() – Converts a value to a float.</li>
<li>str() – Converts a value to a string.</li>
<li>bool() – Converts a value to a boolean (True/False).</li>
<li>list() – Converts an iterable (like a string, tuple, etc.) to a list.</li></ol></p>

In [ ]:
x = "10"
y = int(x) # Converts the string "10" to an integer 10
print(y)

10

In [ ]:
int(3.4)

3

In [ ]:
# Built in function
float(11)

11.0

<p>Mathematical Functions:
<ol><li>abs() – Returns the absolute value.</li>
<li>round() – Rounds a number to a specified number of decimals.</li>
<li>min() – Returns the smallest item in an iterable.</li>
<li>max() – Returns the largest item in an iterable.</li>
<li>sum() – Adds up all items in an iterable.</li></ol></p>

In [ ]:
numbers = [2, 5, 8]
print(sum(numbers)) # Output: 15

15

In [ ]:
a = [1,4,2,3]

sorted(a)

[1, 2, 3, 4]

In [ ]:
a = [1,4,2,3]

min(a)

1

<p>Collection Functions:
<ol><li>len() – Returns the length (number of items) of an object.</li>
<li>sorted() – Returns a sorted list from an iterable.</li>
<li>reversed() – Returns an iterator that accesses the given iterable in reverse.</li>
<li>all() – Returns True if all elements are true.</li>
<li>any() – Returns True if any element is true.</li></ol></p>

In [ ]:
numbers = [1, 2, 3]
print(len(numbers)) # Output: 3

3

In [ ]:
a = [1,4,2,3]

len(a)

4

In [ ]:
def add(x,y):
  return x+y
result = add(3,4)
print(result)

7

In [ ]:
a = (1,2,3,4,5)

In [ ]:
sum(a)

15

<p>Input/Output Functions:
<ol><li>input() – Reads a line from input and returns it as a string.</li>
<li>print() – Outputs the specified message to the console.</li></ol></p>

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Sumon
Hello, Sumon

<p>Other Utility Functions:
<ol><li>id() – Returns the unique id of an object.</li>
<li>type() – Returns the type of an object.</li>
<li>isinstance() – Checks if an object is an instance of a particular class or subclass.</li></ol></p>

In [ ]:
x = 5
print(type(x)) # Output: <class 'int'>|

<class 'int'>

#### Task: Create a function that takes a list of numbers and returns a dictionary with statistics: min, max, sum, and average.

In [ ]:
def calculate_stats(numbers):
  # Ensure the list is not empty
  if(len(numbers) == 0):
    return "List is empty, cannot calculate stats."

  # Calculate stats
  stats = {
    'min': min(numbers),
    'max': max(numbers),
    'sum': sum(numbers),
    'average': sum(numbers) / len(numbers) # Calculate the average
  }

  return stats

# Example usage
numbers_list = [5, 10, 15, 20, 25]
result = calculate_stats(numbers_list)

print(result)

{'min': 5, 'max': 25, 'sum': 75, 'average': 15.0}

<p>Explanation:<br>
The function calculate_stats() takes a list of numbers as input.
<ol><li>min(): Finds the smallest number in the list.</li>
<li>max(): Finds the largest number.</li>
<li>sum(): Adds up all the numbers.</li>
<li>average: Sum divided by the number of elements in the list.</li></ol>
If the list is empty, it returns a message indicating that stats can't be calculated.</p>

# Function with Variable-Length Arguments
<p>Python allows you to define functions that accept an arbitrary number of arguments using *args (non-keyword arguments) or
**kwargs (keyword arguments).
<ol><li>*args -> Accepts variable number of values (tuple)</li>
<li>**kwargs -> Accepts variable number of named arguments (dictionary)</li></ol></p>

In [ ]:
def add(*args):
  return sum(args)
print(add(1, 2, 3)) # Output: 6

def describe_pet(**kwargs):
  print(kwargs)
describe_pet(name="Bobby", type="dog") # Output: {'name': 'Bobby', 'type': 'dog'}

6
{'name': 'Bobby', 'type': 'dog'}

In [ ]:
def add(*args):
  return sum(args)

In [ ]:
print(add(1,2,3,4,5,5,6,7))

33

# Lambda Function

In [ ]:
# It is used when you need a simple one-line function for a short period of time.
lambda arguments: expression

In [ ]:
add = lambda x,y:x+y

In [ ]:
add(5,3)

8

In [ ]:
def add(x, y):
  return x + y

In [ ]:
add(5,3)

8

In [ ]:
# Lambda Fuction
add = lambda x,y: x+y

In [ ]:
add(2,3)

5

# Higher-Order Functions
<p>Lambda functions are often used with:
<ol><li>map()</li>
<li>filter()</li>
<li>sorted()</li></ol></p>

In [ ]:
numbers = [1,2,3,4]
squares = list(map(lambda x : x**2, numbers))

In [ ]:
squares

[1, 4, 9, 16]

In [ ]:
# Keep only even numbers:
numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens) # Output: [2, 4, 6]

[2, 4, 6]

In [ ]:
#Sort a list of tuples by the second value:
pairs = [(1, 3), (2, 2), (4, 1)]
sorted_pairs = sorted(pairs, key=lambda x: x[1])
print(sorted_pairs) # Output: [(4, 1), (2, 2), (1, 3)]

[(4, 1), (2, 2), (1, 3)]

In [ ]:
numbers = [1,2,3,4]

list(map(lambda x: x**2, numbers))

[1, 4, 9, 16]

# Nested Functions

In [ ]:
def outer():
  def inner():
    print("This is the inner function")
  inner()

outer() # Output: This is the inner function

This is the inner function