<a href="https://colab.research.google.com/github/MehrabHussain47/Python-Self-Practice/blob/master/Class_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set
<p>A set is an unordered collection of unique elements.
<ol><li>Sets are mutable (can be modified), but they do not allow duplicate values.</li>
<li>Sets are defined using curly braces {} or the set() constructor.</li></ol></p>

In [ ]:
# Basic Set
fruits = {"apple", "banana", "cherry"}
print(fruits) # Output: {'apple', 'banana', 'cherry'}

{'cherry', 'banana', 'apple'}

In [ ]:
# Set with Duplicates (Duplicates will be removed)
fruits = {"apple", "banana", "cherry", "apple", "banana"}
print(fruits) # Output: {'apple', 'banana', 'cherry'}

{'cherry', 'banana', 'apple'}

In [ ]:
# Creating a Set from a List
numbers = set([1, 2, 3, 4, 5])
print(numbers) # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
fruits = {"apple", "banana", "cherry", "banana"}

In [ ]:
type(fruits)

set

In [ ]:
print(fruits)

{'cherry', 'banana', 'apple'}

<p><ol><li>add() Adds an element to the set.</li>
<li>clear() Removes all elements from the set.</li>
<li>copy() Returns a shallow copy of the set.</li>
<li>discard() Removes an element if it exists (does not raise an error).</li>
<li>remove() Removes an element (raises an error if element is not found).</li>
<li>union() Returns a new set with all elements from both sets.</li>
<li>intersection() Returns a new set with elements common to both sets.</li>
<li>difference() Returns a new set with elements in the first set but not in the second.</li>
<li>symmetric_difference() – Items in either set, but not both.</li>
<li>issubset() Checks if the set is a subset of another set.</li>
<li>issuperset() Checks if the set is a superset of another set.</li></ol></p>

In [ ]:
# add() – Add an element
fruits = {"apple", "banana"}
fruits.add("cherry")
print(fruits) # Output: {'apple', 'banana', 'cherry'}

{'cherry', 'banana', 'apple'}

In [ ]:
# clear() – Remove all elements
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits) # Output: set()

set()

In [ ]:
# copy() – Copy a set
fruits = {"apple", "banana", "cherry"}
fruits_copy = fruits.copy()
print(fruits_copy) # Output: {'apple', 'banana', 'cherry'}

{'cherry', 'banana', 'apple'}

In [ ]:
# discard() – Remove an element (if exists)
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits) # Output: {'apple', 'cherry'}

{'cherry', 'apple'}

In [ ]:
# remove() – Remove an element (raises error if element doesn't exist)
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits) # Output: {'apple', 'cherry'}
# fruits.remove("orange") # This will raise a KeyError

{'cherry', 'apple'}

In [ ]:
# remove() – Remove an element (raises error if element doesn't exist)
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
#print(fruits) # Output: {'apple', 'cherry'}
fruits.remove("orange") # This will raise a KeyError

KeyError: 'orange'

In [ ]:
# union() – Combine two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set) # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
# intersection() – Get common elements
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection_set = set1.intersection(set2)
print(intersection_set) # Output: {3, 4}

{3, 4}

In [ ]:
# difference() – Get elements not in the second set
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
difference_set = set1.difference(set2)
print(difference_set) # Output: {1, 2}

{1, 2}

In [ ]:
# symmetric_difference() – Items in either set, but not both
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
difference_set = set1.symmetric_difference(set2)
print(difference_set) # Output: {1, 2, 5, 6}

{1, 2, 5, 6}

In [ ]:
# issubset() – Check if the set is a subset of another
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(set1.issubset(set2)) # Output: True

True

In [ ]:
# issuperset() – Check if the set is a superset of another
set1 = {1, 2, 3, 4}
set2 = {1, 2}
print(set1.issuperset(set2)) # Output: True

True

In [ ]:
fruits.add("mango")

In [ ]:
print(fruits)

{'cherry', 'banana', 'mango', 'apple'}

In [ ]:
fruits.clear()

In [ ]:
print(fruits)

set()

In [ ]:
fruits = {"apple", "banana", "cherry"}

copy_fruits = fruits.copy()

In [ ]:
print(copy_fruits)

{'apple', 'banana', 'cherry'}

In [ ]:
fruits = {"apple", "banana", "cherry"}

In [ ]:
fruits.discard("aap")

In [ ]:
print(fruits)

{'cherry', 'banana', 'apple'}

In [ ]:
fruits.remove("aap")

KeyError: 'aap'

In [ ]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
# suppose we use fruits as a set then we can access any functions by using dot (.) + tab
print(fruits)

{'cherry', 'banana', 'apple'}

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}

union_set = set1.union(set2)

In [ ]:
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
a = [1, 2, 3, 5, 6, 7, 2, 3]
print(a)
b = set(a)

[1, 2, 3, 5, 6, 7, 2, 3]

In [ ]:
print(len(a))
print(b) # this set will print unique values.

8
{1, 2, 3, 5, 6, 7}

In [ ]:
len(b)

6

In [ ]:
len(a) - len(b)

2

In [ ]:
c = list(b)

In [ ]:
print(c)

[1, 2, 3, 5, 6, 7]

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}

inter_set = set1.intersection(set2)

In [ ]:
print(inter_set)

{3}

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}

diff_set = set1.difference(set2)

In [ ]:
print(diff_set)

{1, 2}

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}

sym_diff_set = set1.symmetric_difference(set2)

In [ ]:
print(sym_diff_set)

{1, 2, 4, 5}

In [ ]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

print(set1.issubset(set2))
print(set2.issuperset(set1))

True
True

<b>Set Operations</b>

In [ ]:
# Set Union (|)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set) # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
# Set Intersection (&)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1 & set2
print(intersection_set) # Output: {3}

{3}

In [ ]:
# Set Difference (-)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1 - set2
print(difference_set) # Output: {1, 2}

{1, 2}

In [ ]:
# Set Systemic Difference (^)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1 ^ set2
print(difference_set) # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2) # union
print(set1 & set2) # intersection
print(set1 - set2) # difference
print(set1 ^ set2) # symmetric difference

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

# Class Assignment :01
<p>Course Enrollment Analysis Using Sets Objective: Use set operations to find relationships between student groups. <b>Problem:</b> You
are given two sets:<br> course_A = {"Alice", "Bob", "Charlie", "David"}<br> course_B = {"Charlie", "Eve", "David", "Frank"}<br>
Write a
program that: <ol><li>Finds students who are enrolled in both courses.</li> <li>Finds students who are enrolled in only Course A.</li> <li>Finds
students who are enrolled in either Course A or Course B but not both.</li></ol> <b>Expected Output:</b><ol><li>Enrolled in both courses: {'Charlie',
'David'}</li> <li>Only in Course A: {'Alice', 'Bob'}</li> <li>In only one course: {'Alice', 'Bob', 'Eve', 'Frank'}</li></ol></p>

In [ ]:
# Given sets
course_A = {"Alice", "Bob", "Charlie", "David"}
course_B = {"Charlie", "Eve", "David", "Frank"}
# 1. Enrolled in both courses
both_courses = course_A & course_B
print("Enrolled in both courses:", both_courses)
# 2. Only in Course A
only_A = course_A - course_B
print("Only in Course A:", only_A)
# 3. In only one course
only_one = course_A ^ course_B
print("In only one course:", only_one)

Enrolled in both courses: {'Charlie', 'David'}
Only in Course A: {'Bob', 'Alice'}
In only one course: {'Bob', 'Eve', 'Frank', 'Alice'}

<p>course_A = {"Alice", "Bob", "Charlie", "David"}<br>
course_B = {"Charlie", "Eve", "David", "Frank"}</p>

<b>Write a program that:</b>

<p><ol><li>Finds the students who are enrolled in both courses.</li>
<li>Finds the students who are enrolled in only course_A.</li>
<li>Finds the students who are enrolled in either course_A or course_B but not both</li></ol></p>

In [ ]:
course_A = {"Alice", "Bob", "Charlie", "David"}
course_B = {"Charlie", "Eve", "David", "Frank"}

print(course_A & course_B) # Solution of 1
print(course_A - (course_A & course_B)) # Solution of 2
# Or,
print(course_A - course_B) # Solution of 2
print(course_A ^ course_B) # Solution of 3

{'David', 'Charlie'}
{'Bob', 'Alice'}
{'Bob', 'Alice'}
{'Frank', 'Alice', 'Bob', 'Eve'}

# Tuple
<p><ol><li>A tuple is a collection of ordered, immutable (unchangeable), and heterogeneous (different data types) elements.</li>
<li>Tuples are faster than lists because they are immutable.</li>
<li>Tuples are defined using parentheses ().</li></ol>
Tuples in Python are immutable, which means you can't change, add, or remove items once the tuple is created. Because of this,
tuple methods are very limited compared to lists.</p>

In [ ]:
# Empty tuple
empty_tuple = ()
# Tuple with elements
numbers = (1, 2, 3, 4)
# Tuple with different data types
mixed_tuple = (1, "hello", 3.14, True)
# Tuple with one element (comma is required!)
single_element_tuple = (5,)

In [ ]:
# count() – Count occurrences of a value
numbers = (1, 2, 3, 2, 2, 4)
print(numbers.count(2)) # Output: 3

3

In [ ]:
# index() – Find the index of a value
fruits = ("apple", "banana", "cherry", "banana")
print(fruits.index("banana")) # Output: 1 (first occurrence)

1

In [ ]:
# Tuple Concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result) # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [ ]:
# If you ever need to modify a tuple, you have to convert it to a list first:
t = (1, 2, 3)
temp = list(t)
temp.append(4)
t = tuple(temp)
print(t) # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

In [ ]:
a = (1,2,3,4,5,2,3,4)

In [ ]:
type(a)

tuple

In [ ]:
a.count(2)

2

In [ ]:
a.count(5)

1

In [ ]:
a.index(3)

2

In [ ]:
a = (1,2,3)
b = (4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [ ]:
c = a + b

In [ ]:
print(c)

(1, 2, 3, 4, 5, 6)

In [ ]:
d = list(c)

In [ ]:
print(d)

[1, 2, 3, 4, 5, 6]

In [ ]:
d.append(7)

In [ ]:
e = tuple(d)

In [ ]:
print(e)

(1, 2, 3, 4, 5, 6, 7)

<p><ol><li>List: Use when the data will change (e.g., items in a cart).</li>
<li>Tuple: Use when data is fixed and should stay the same (e.g., coordinates, dates).</li></ol></p>

# Tuple Unpacking (Very useful and common!)

In [ ]:
t = (10, 20, 30)
a, b, c = t
print(a) # 10
print(b) # 20
print(c) # 30

10
20
30

In [ ]:
# If you want to unpack a part of a tuple and collect the rest:
t = (1, 2, 3, 4, 5)
a, *b, c = t
print(a) # 1
print(b) # [2, 3, 4]
print(c) # 5

1
[2, 3, 4]
5

In [ ]:
t = (10,20,30)

a,b,c = t

In [ ]:
print(a,b,c)

10 20 30

In [ ]:
t = (10,20,30,40,50,60)

a,*b,c = t # I want to store first value in a and last value in c

In [ ]:
print(a,c)

10 60

In [ ]:
print(b)

[20, 30, 40, 50]

# Tuple Comparison

In [ ]:
# Tuples are compared element by element, from left to right.
t1 = (1, 2, 3)
t2 = (1, 2, 4)
print(t1 == t2) # False (last elements are different)
print(t1 < t2) # True (3 < 4)

False
True

In [ ]:
# Swapping Values with Tuple Unpacking
x, y = 10, 20
x, y = y, x
print(x, y) # 20, 10

20 10

In [ ]:
t1 = (1,2,3)
t2 = (1,2,4)

print(t1 == t2)
print(t1 != t2)
print(t1 < t2)

False
True
True

<b>What is an f-string in Python? An f-string is a formatted string — introduced in Python 3.6 — that allows you to insert variables or
expressions directly inside a string using {}.</b>

In [ ]:
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 25 years old.

In [ ]:
# You Can Use Expressions Too!
a = 10
b = 5
print(f"The sum of {a} and {b} is {a + b}")

The sum of 10 and 5 is 15

In [ ]:
# Format Numbers
price = 1234.5678
print(f"Price: ${price:.2f}") # 2 decimal places

Price: $1234.57

In [ ]:
# Adding Comma for Thousands Separator
large_number = 1234567890
print(f"Formatted with commas: {large_number:,}")

Formatted with commas: 1,234,567,890

In [ ]:
# Percentage Formatting
percentage = 0.875
print(f"Formatted as percentage: {percentage:.2%}")

Formatted as percentage: 87.50%

In [ ]:
# Exponential Notation
number = 1234567890
print(f"Exponential form: {number:.2e}")

Exponential form: 1.23e+09

In [ ]:
num = 1234567890.98765
print(f"With commas: {num:,}")
print(f"With commas: {num:,.2f}")
print(f"Rounded to 2 decimals: {num:.2f}")
print(f"Percentage: {num:.2%}")
print(f"Scientific: {num:.2e}")

With commas: 1,234,567,890.98765
With commas: 1,234,567,890.99
Rounded to 2 decimals: 1234567890.99
Percentage: 123456789098.76%
Scientific: 1.23e+09

# Class Assignment :02
<p><b>Objective:</b> Use tuple unpacking and comparison to manage and compare student data.<br> <b>Problem:</b> You are given a list of students where each student is represented as a tuple:</p>

In [ ]:
students = [
("Alice", 3.75),
("Bob", 3.60),
("Charlie", 3.90),
]
# for i in students:
# print(i)

<p>Write a program that:
<ol><li>Unpacks and prints each student's name and CGPA.</li>
<li>Finds the student with the highest CGPA using tuple comparison.</li>
<li>Sorts the list based on CGPA in descending order.</li></ol></p>

In [ ]:
students = [
("Alice", 3.75),
("Bob", 3.60),
("Charlie", 3.90),
]
# 1. Unpack and print
for name, cgpa in students:
  print(f"Name: {name}, CGPA: {cgpa}")

# 2. Find top student using max()
top_student = max(students, key=lambda x: x[1])
print(f"\nTop student: {top_student[0]} with CGPA {top_student[1]}")

# 3. Sort by CGPA descending
sorted_students = sorted(students, key=lambda x: x[1], reverse=True)
print("\nSorted List:")
print(sorted_students)

Name: Alice, CGPA: 3.75
Name: Bob, CGPA: 3.6
Name: Charlie, CGPA: 3.9

Top student: Charlie with CGPA 3.9

Sorted List:
[('Charlie', 3.9), ('Alice', 3.75), ('Bob', 3.6)]

In [ ]:
|# f-string
print("Hello, Sumon!")

Hello, Sumon!

In [ ]:
str1 = "Hello"
print(str1)

Hello

In [ ]:
name = "Sumon"
age = 24

# String ke varible diye dekhtesi

print(f"My name is {name} and I am {age} years old.") # IF we use f-string
print("My name is " + name  + " and I am " + str(age) + " years old.") # If we use concatanation

My name is Sumon and I am 24 years old.
My name is Sumon and I am 24 years old.

In [ ]:
a = 10
b = 5
print(f"The sum of {a} and {b} is {a+b}")

The sum of 10 and 5 is 15

In [ ]:
price = 123.4567779859
print(f"Price: {price:.2f}")

Price: 123.46

In [ ]:
percentage = .45456
print(f"Price: {percentage:.2%}")

Price: 45.46%

In [ ]:
num = 1234567890.98765
print(f"with commas : {num:,}")

with commas : 1,234,567,890.98765

In [ ]:
students = {
    ("Alice", 3.75),
    ("Bob", 3.60),
    ("Charlie", 3.90),
}

In [ ]:
a = [1,2,3]
for i in a:
  print(i)

1
2
3

In [ ]:
for i in students:
  print(i)

('Bob', 3.6)
('Alice', 3.75)
('Charlie', 3.9)

In [1]:
students = {
    ("Alice", 3.75),
    ("Bob", 3.60),
    ("Charlie", 3.90),
}
for name, cgpa in students:
  print(f"Name: {name}, CGPA: {cgpa}")

Name: Bob, CGPA: 3.6
Name: Alice, CGPA: 3.75
Name: Charlie, CGPA: 3.9